body{margin:0;background:black;color:white;font-family:Arial;text-align:center;}

#preloader{
position:fixed;
width:100%;
height:100vh;
background:black;
display:flex;
justify-content:center;
align-items:center;
font-size:40px;
color:red;
z-index:9999;
animation:fade 2s forwards 2s;
}

@keyframes fade{to{opacity:0;visibility:hidden;}}

.title{text-shadow:0 0 25px red;}

.counter{
color:#00ffcc;
text-shadow:0 0 15px #00ffcc;
}

.lang{
position:absolute;
top:10px;
right:10px;
}

.container{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:rgba(255,0,0,0.08);
border:1px solid red;
box-shadow:0 0 20px red;
border-radius:20px;
width:220px;
margin:20px;
padding:20px;
transition:.5s;
}

.card:hover{transform:scale(1.1) rotateY(15deg);}

.card img{width:60px;}

.more{
padding:15px 40px;
background:black;
border:2px solid red;
color:red;
}

.social{
font-size:30px;
margin:20px;
color:white;
}

.proof img{
width:250px;
margin:10px;
border:2px solid red;
border-radius:15px;
}
