body{
margin:0;
font-family:Arial;
background:black;
color:white;
text-align:center;
}

.title{
margin-top:40px;
font-size:32px;
text-shadow:0 0 25px red;
}

.container{
display:flex;
flex-direction:column;
align-items:center;
gap:25px;
margin-top:40px;
}

.card{
width:85%;
max-width:320px;
padding:30px;
border-radius:20px;
background:rgba(255,0,0,0.08);
border:1px solid rgba(255,0,0,0.4);
box-shadow:0 0 25px red;
backdrop-filter:blur(15px);
transition:.4s;
}

.card:hover{
transform:scale(1.05);
box-shadow:0 0 40px red;
}

.card img{
width:55px;
margin-bottom:15px;
}

.more{
margin-top:40px;
padding:14px 35px;
font-size:16px;
border:none;
border-radius:30px;
background:linear-gradient(45deg,#ff0000,#990000);
color:white;
box-shadow:0 0 20px red;
}

.contact{
display:none;
margin-top:30px;
}

.social{
font-size:28px;
margin:15px;
color:white;
}
